POSTGRES_USER=cryptowallet
POSTGRES_PASSWORD=cryptowallet123
POSTGRES_DB=cryptowallet
POSTGRES_PORT=5432

REDIS_PORT=6379

ZOOKEEPER_PORT=2181

KAFKA_PORT=9092
KAFKA_BROKER_ID=1
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123

API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=50051
WALLET_SERVICE_PORT=50052
TRANSACTION_SERVICE_PORT=50053
